{% extends 'base.html' %}
{% load static %}

{% block title %}Card{% endblock title %}

{% block content %}
  {% if card.books.exists %}

    <div class="container">
      <table class="table table-content-ajax">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Course</th>
          <th scope="col">Price</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody class="table-body-ajax">
        {% for book in card.books.all %}
          <tr class="table-books-ajax">
          <th scope="row">{{forloop.counter}}</th>
          <td>
            <a href="{{book.get_absolute_url}}" style='color:black'>{{book.name}}</a>
            {% include 'card/remove_books_ajax.html' with book_id=book.id  %}
          </td>
          <td>{{book.price}}</td>
          <td>{{book.date|date:"d/m/Y"}}</td>
        </tr>
        {% endfor %}

        <tr>
          <th scope="row" colspan='3'>Total</th>
          <td style='font-weight:bold; color:orange'> <span class="subtotal-ajax">{{card.total}} SAR</span> </td>
        </tr>


        <tr>
          <th scope="row" colspan='3'>Subtotal</th>
          <td style='font-weight:bold; color:orange'> <span class="total-ajax">{{card.subtotal}} SAR</span> </td>
        </tr>

        
        <tr>
          
          <th scope="row" colspan='5'><a class="btn btn-success" href={% if request.user.is_authenticated %}
            "{% url 'card:check-orders' %}" {% else %} "{% url 'accounts:login' %}" {% endif %}>Check Order</a></th>
        </tr>
        
      </tbody>
    </table>
    </div>

  <div class="item-remove-book" style="display:none">
    
    {% include 'card/remove_books_ajax.html'%}
  </div>

  {% else %}
    
    <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Your Card is Empty</h1>
          <p class="lead">Your cart is empty. Keep shopping to find a course!</p>
          <hr class="my-4">
          <p>Keep shopping</p>
          <a class="btn btn-primary btn-lg" href="{% url 'core:home-page' %}" role="button">Keep shopping</a>
        </div>
    </div>
  
  {% endif %}
{% endblock content %}